In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("MyFirstSparkApp").master("spark://master:7077").getOrCreate()

In [3]:
# Create a dataframe by providing raw values and columns 
df = spark.createDataFrame(
    [
        ("Tom", 33, "footballer"),  # Create your data here, be consistent in the types.
        ("Jim", 45, "teacher"),
        ("Alice", 25, "teacher"),
    ],
    ["name", "age", "occupation"],  # Add your column names here
)

In [4]:
# Check the schema of the table
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- occupation: string (nullable = true)

In [5]:
# Apply filtering transformation
df = df.where(df.occupation == "teacher")

In [6]:
# Print the result
df.show()
df.count()

+-----+---+----------+
| name|age|occupation|
+-----+---+----------+
|  Jim| 45|   teacher|
|Alice| 25|   teacher|
+-----+---+----------+

2

In [7]:
# Stop the spark context
spark.stop()