In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

In [2]:
sparkConf = SparkConf()
sparkConf.setMaster("spark://master:7077")
sparkConf.setAppName("MyFirstSparkAppV2")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")

In [3]:
# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()

In [4]:
# create a dataframe by providing raw values and columns 
df = spark.createDataFrame(
    [
        ("Tom", 33, "footballer"),  # create your data here, be consistent in the types.
        ("Jim", 45, "teacher"),
        ("Alice", 25, "teacher"),
    ],
    ["name", "age", "occupation"],  # add your column names here
)

In [5]:
# check the schema of the table
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- occupation: string (nullable = true)

In [6]:
# apply filtering transformation
df = df.where(df.occupation == "teacher")

In [7]:
# print the result
df.show()
df.count()

+-----+---+----------+
| name|age|occupation|
+-----+---+----------+
|  Jim| 45|   teacher|
|Alice| 25|   teacher|
+-----+---+----------+

2

In [8]:
# Stop the spark context
spark.stop()